<!doctype html>
<html ng-app="myApp">
	<head>
	    <meta charset="utf-8">
	    <title>Angular.js & PouchDB</title>

	    <link rel="stylesheet" href="style.css">

	</head>
	<body class='ng-cloak' ng-controller="MainCtrl">

		<div>
			Title : <input ng-model="note.author"/>
			Note : <input ng-model="note.content"/>
			<button ng-click="add(note)">Save</button>
			<button ng-click="deleteAll()">Delete notes</button>
		</div>

		<h1 class='tac' ng-if="notes.length == 0">No note yet !</h1>

		<ul ng-if="notes.length > 0">
			<li ng-repeat="note in notes" class='note'>
				<h1 class="title">{{note.author}}</h1>
				<br/>
				<p>{{note.content}}</p>
			</li>
		</ul>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="http://download.pouchdb.com/pouchdb-nightly.min.js"></script>
		<script src="db.js"></script>
		<script src="app.js"></script>
	</body>
</html>